<html>
<head>
	<script src="../static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="../static/js/tweets.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.css" type="text/css">
	<link rel="stylesheet" href="../static/stylesheets/gou.css">
	<script>
		function jump(){
			var number = parseInt(document.getElementById('coin-number').innerHTML);
			console.log('JUMP');
			if (document.getElementById('willie').style.backgroundImage == "url(file://localhost/Users/hilaryfung/Code/Go-U/static/img/standingwillie.png)")
			{
				document.getElementById('willie').style.backgroundImage = "url('../static/img/jumpingwillie.png')";
				number += 1;
				document.getElementById('coin-number').innerHTML = number;

				var myVar=setInterval(function(){sit()},2000);

				function sit(){
					document.getElementById('willie').style.backgroundImage = "url('../static/img/standingwillie.png')";
				}

			}
			else {
				number +=1;
				document.getElementById('coin-number').innerHTML = number;
			}
		}
	</script>
</head>
<body>
	<div class="container-fluid">
		<h2>Watch Willie the Wildcat jump every time someone tweets about the #B1GCats!</h2>
		<div class="span5">
			<div id="coinbox" class="row-fluid" style="background-image:url('../static/img/coinbox.png')">
				<h3 id="coin-number">5</h3>
			</div>
			<div id="willie" class="row-fluid" style="background-image:url('../static/img/standingwillie.png')">
			</div>
		</div>
		<div id="tweets" class="span3"></div>
		<button onClick='jump()' class="btn">Jump</button>
	</div>
</body>
</html>
